<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image">
        <!-- Image -->
        <img src="./assets/images/angular-logo-bold.png" alt="" />
        <div class="text">
          <p>Join the community of MEARN Ninja's - <i>ITI</i></p>
        </div>
      </div>
      <div class="col-md-6 right">
        <form [formGroup]="myValidations" class="input-box">
          <header>Create a user</header>
          <div class="input-field">
            <input
              type="text"
              id="name"
              class="input"
              [ngStyle]="{
                'border-color': validName
                  ? 'green'
                  : nameExists
                  ? 'red'
                  : '#743ae1'
              }"
              required
              autocomplete="off"
              formControlName="name"
            />
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="email"
              class="input"
              [ngStyle]="{
                'border-color': validEmail
                  ? 'green'
                  : emailExists
                  ? 'red'
                  : '#743ae1'
              }"
              required
              autocomplete="off"
              formControlName="email"
            />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="age"
              class="input"
              [ngStyle]="{
                'border-color': validAge
                  ? 'green'
                  : ageExists
                  ? 'red'
                  : '#743ae1'
              }"
              required
              autocomplete="off"
              formControlName="age"
            />
            <label for="age">Age</label>
          </div>
          <div class="input-field">
            <input type="submit" (click)="join()" class="submit" value="Join" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
